{% extends "base.html" %}

{% block title %}主页{% endblock %}
{% block page_content %}
    <div style="width: auto;margin:auto 80px;">
        <table class="table">
            <caption>
                <div ><h3>销量排行榜</h3></div>
            </caption>
            <tbody>
            <tr>
                <td>
                    {% for book in Books %}
                        <a href="{{ url_for('book',id=book.id) }}" class="list-group-item col-md-2">
                            <div align="center">
                                <img src="{{ book.photo }}" width="88" height="88"
                                     class="img-rounded"/>
                                <h4 class="list-group-item-heading">
                                    {{ book.name }}
                                </h4>
                                <p class="list-group-item-text">
                                    ￥: <Strong>{{ book.price }}</Strong>
                                </p>
                                <p class="list-group-item-text">
                                    销量:<strong>{{ book.sales }}</strong>
                                </p>
                            </div>
                        </a>
                    {% endfor %}
                </td>
            </tr>
            </tbody>
        </table>
    </div>



{% endblock %}